body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
}

header img {
    max-height: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

header h1, header h2 {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

h2 {
    color: #444;
    margin-bottom: 20px;
}

.contenedor {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    max-width: 1000px;
}

.columna {
    background-color: #fff;
    padding: 15px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: left;
}

.columna img {
    max-width: 100px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 0 auto 10px;
}

p {
    margin: 5px 0;
    color: #555;
}

footer {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

footer a {
    color: #fff;
    text-decoration: none;
}
